{% if messages %}
    {% for msg in messages %}
        
        {% if 'success' in msg.tags %}
            <p style="font-size: 50px; color: #52c952; margin-left: 20px; word-wrap: break-word; word-break: break-word;">
                {{ msg }}
            </p>
        {% elif 'danger' in msg.tags %}
            <p style="font-size: 50px; color: #d31212; margin-left: 20px; word-wrap: break-word; word-break: break-word;">
                {{ msg }}
            </p>
        {% elif 'info' in msg.tags %}
            <p style="font-size: 50px; color: #0048ff; margin-left: 20px; word-wrap: break-word; word-break: break-word;">
                {{ msg }}
            </p>
        {% endif %} 

    {% endfor %}

    <script type="text/javascript">
        setTimeout(
            function(){
                window.location.reload();
            }, 3000
        );
    </script>
{% endif %}
